body {
  margin: 0;
  padding: 0;
  list-style: none;
}
.photo-list {
  list-style: none;
  display: flex;
}
.photo-list img {
  width: 40vw;
}
.photo-detail {
  width: 90vw;
}
.title {
  font-size: 48pt;
}
.cat-title {
  font-size: 36pt;
  border: 2px solid gray;
  margin: 16px;
  padding: 16px;
}
p {
  font-size: 16pt;
}
.photographs {
  font-size: 36pt;
  border: 2px solid gray;
  margin: 16px;
  padding: 16px;
}
